﻿body
{
background: white;
font-family: Times New Roman;
font-style: normal;
font-size: 12pt;
font-variant: normal;
text-align: center;
}

pre
{
margin: 1 1 3 1; #clockwise starting at top
}

table, td
{
vertical-align: middle;
border: 0px solid black;
border-collapse: collapse;
padding: 3 6 3 7;
text-align: left;
}

a
{ 
text-decoration: none; 
}

a:link
{
color: #3333FF;
}

a:visited
{ 
color: #402080; 
}

.library_table
{
margin-left: auto;
margin-right: auto;
max-width: 90%;
border: 1px solid black;
}

.library_table td
{
padding: 5 10 5 12;
border-bottom: 1px solid black;
border-top: 1px solid black;
}

.method_table
{
width: 90%;
margin-left: auto;
margin-right: auto;
background: #CCFFCC;
}

.signature_row
{
background: #99CC99;
}

.description_row td
{
padding: 8 10 10 25;
}

.argument_table
{
border: 1px solid #669966;
}

.argument_table td
{
padding: 3 8 3 9;
text-indent: 0px;
border-top: 1px solid #669966;
border-bottom: 1px solid #669966;
}

.type_description_table
{
width: 75%;
margin-left: auto;
margin-right: auto;
background: #CCFFCC;
}
